<div class="container-fluid container-fluid-custom">
    <h1>About BentoBalance</h1>
    <p>BentoBalance is a calorie calculator app designed to help you achieve balanced nutrition in a fun and engaging way. Inspired by the traditional Japanese bento box, our app emphasizes portion control and healthy eating habits.</p>
    <br>
    <h2>Our Mission</h2>
    <p>At BentoBalance, we believe that healthy eating should be accessible and enjoyable for everyone. Our mission is to provide users with the tools they need to make informed dietary choices while embracing the principles of balanced meals.</p>
    <br>
    <h2>Join Us on the Journey to Health</h2>
    <p>Use BentoBalance today and start your journey towards a healthier lifestyle, one delicious bento at a time!</p>
</div>